{
  "openapi": "3.0.0",
  "info": {
    "title": "Users API",
    "description": "Manage user accounts and profiles. The Users API allows you to manage user accounts within your Xata organization, including listing, retrieving, updating, and deleting user accounts.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.xata.io"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "List users",
        "description": "Retrieves a list of all users in an organization.",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "user_123",
                      "email": "user@example.com",
                      "name": "John Doe",
                      "createdAt": "2024-01-01T00:00:00Z",
                      "updatedAt": "2024-01-01T00:00:00Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{userID}": {
      "get": {
        "summary": "Get user",
        "description": "Retrieves detailed information about a specific user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "id": "user_123",
                  "email": "user@example.com",
                  "name": "John Doe",
                  "createdAt": "2024-01-01T00:00:00Z",
                  "updatedAt": "2024-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update user",
        "description": "Updates user information within an organization.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {
                "name": "Updated User Name",
                "email": "updated@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "id": "user_123",
                  "email": "updated@example.com",
                  "name": "Updated User Name",
                  "createdAt": "2024-01-01T00:00:00Z",
                  "updatedAt": "2024-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete user",
        "description": "Removes a user from an organization.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns a 204 status code with no content on success."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "email": {
            "type": "string",
            "description": "User's email address"
          },
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the user was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the user was last updated"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated user name"
          },
          "email": {
            "type": "string",
            "description": "Updated user email"
          }
        }
      }
    }
  }
}